.page-container {
    background-color: #03242D;
}

.zw-product-header {
    position: relative;
    z-index: 111;
}

* {
    box-sizing: border-box;

}

.page-container h1,
.page-container h2,
.page-container h3,
.page-container h4,
.page-container h5,
.page-container p,
.pre-banner span {
    color: #fff;
}

.page-container h1 {
    font-family: var(--zf-primary-bold);
    text-align: center;
    margin: 0 auto 20px;
    font-size: 50px;
    width: 80%;
}


.page-container h2 {
    text-align: center;
    font-size: 40px;
    font-family: var(--zf-primary-bold);
}

.page-container h3 {
    font-size: 28px;
    font-family: var(--zf-primary-semibold);
}

.hd-description {
    font-size: 20px;
    text-align: center;
}

.page-container .text-gradient {
    background: linear-gradient(90deg, rgba(144, 179, 253, 1) 0%, rgba(172, 250, 232, 1) 35%, rgba(237, 215, 169, 1) 100%);
    background-clip: text;
    color: transparent;
}

.spriteIcons {
    background-image: url(/sites/zweb/images/analytics/free-visualization-sprite-icons.png);
}

/* Banner section */

.banner {
    text-align: center;
    padding: 120px 0 0px;
    position: relative;
    background-image: radial-gradient(#1D4A51, #03242D);
    margin-top: -68px;
}

.banner::after {
    content: '';
    position: absolute;
    background-image: url(/sites/zweb/images/analytics/building-texture.png);
    width: 454px;
    height: 300px;
    bottom: 0;
    right: -21px;
    opacity: 0.2;
}

.banner::before {
    content: '';
    position: absolute;
    background-image: url(/sites/zweb/images/analytics/building-texture.png);
    width: 357px;
    height: 357px;
    bottom: 0;
    left: 0px;
    opacity: 0.2;
    background-position: -478px 0px;
}

.cta-btn {
    font-size: 17px;
    padding: 13px 30px;
    border-radius: 4px;
    display: inline-block;
    font-family: var(--zf-primary-semibold);
}

.banner .hd-description {
    width: 66%;
    margin: 0 auto 20px;
}

.banner .banner-img {
    margin-top: 50px;
    position: relative;
    z-index: 2;
    line-height: 0;
}

.banner .banner-img img {
    width: 70%;
}


/* Trusted brands Section */

.trust-icon-wrap {
    overflow: hidden;
    display: flex
}

.trust-icon .ae-icon {
    margin: 0 150px 0 0;
    font-size: 0;
    display: inline-flex;
    text-align: center;
    align-items: center;
    float: none;
    min-height: 100px;
    vertical-align: top
}

.za-cust-counts ul {
    display: flex;
    max-width: 450px;
    margin: 15px auto 0;
    text-align: center;
    justify-content: center;
    background-color: #ffffff96;
    border-radius: 20px;
    padding: 30px 20px 20px;
    border-width: 1px 1px 0 1px;
    border-style: solid;
    border-color: #A18AFB;
    box-shadow: 0 4px 22px 0 #00000017;
}

.za-cust-counts ul>li {
    width: 40%;
    position: relative
}

.za-cust-counts ul>li p {
    margin: 0;
    font-size: 20px;
    color: #000;
}

.za-cust-counts ul>li>span {
    font-size: 50px;
    line-height: 50px;
    font-family: var(--zf-primary-semibold);
    color: #000;
}

.za-cust-counts ul>li>span:after {
    content: '+';
    font-family: var(--zf-primary-extralight)
}

.za-cust-counts ul>li>span span {
    color: #000;
}

.za-cust-counts ul>li:not(:first-child):before {
    content: '';
    position: absolute;
    width: 1px;
    height: 50%;
    background: #601d1c;
    top: 0;
    bottom: 0;
    margin: auto;
    left: 0;
    opacity: .2
}

.za-brandsCounts {
    position: relative;
    z-index: 1;
    filter: drop-shadow(0px 6px 13px #feac8980);
}

.brand-wrapper {
    background-color: #e6e9ea;
    border-radius: 0 0 50px 50px;
    position: relative;
    padding: 50px 0px;
}

.whyDo-section .main-wrapper {
    display: flex;
    gap: 45px;
    align-items: center;
    z-index: 1;
    position: relative;
}

.whyDo-section .main-wrapper .left,
.whyDo-section .main-wrapper .right {
    flex: 1;
}

.whyDo-section h2 {
    text-align: left;
}

.whyDo-section {
    padding: 0px 0px 80px;
    position: relative;
}

.whyDo-section .content-wrap {
    /* background-image: linear-gradient(180deg, #ffddb22b 39%, #ffffff00 75%); */
    padding: 1px;
    border-radius: 18px;
    transform: translateY(50px);
    transition: all 1s ease-in-out;
}

.whyDo-section .gradient-wrapper {
    border-radius: inherit;
    padding: 45px 36px;
    position: relative;
    overflow: hidden;
}

/* 
.whyDo-section .gradient-wrapper::before {
    content: "";
    position: absolute;
    background-image: radial-gradient(#1A454C 10%, transparent 70%);
    width: 60%;
    height: 70%;
    z-index: 0;
    top: -152px;
    left: -244px;
}

.whyDo-section .gradient-wrapper::after {
    content: "";
    position: absolute;
    background-image: radial-gradient(#feac892b 10%, transparent 70%);
    width: 60%;
    height: 70%;
    z-index: 0;
    bottom: -152px;
    right: -244px;
} */

.whyDo-section .right {
    position: relative;
}

.whyDo-section .right span {
    position: absolute;
}

.whyDo-section .right .googleDrive {
    width: 24px;
    height: 24px;
    background-position: -104px -20px;
    top: 23%;
    left: 29%;
    animation: 5s ease 0s infinite normal none running bounceMinus;
    animation-delay: 1s;
}

.whyDo-section .right .googleCloud {
    width: 40px;
    height: 40px;
    background-position: -6px -12px;
    top: 50%;
    left: 8%;
    animation: 5s ease 0s infinite normal none running bounceMinus;
}

.whyDo-section .right .database {
    width: 24px;
    height: 24px;
    background-position: -170px -20px;
    bottom: 11%;
    left: 48%;
    animation: 5s ease 0s infinite normal none running bounceMinusX;
}

.whyDo-section .right .postgreSql {
    width: 24px;
    height: 24px;
    background-position: -137px -20px;
    bottom: 34%;
    right: 20%;
    animation: 5s ease 0s infinite normal none running bounceMinus;
    animation-delay: 1s;
}

.whyDo-section .right .googleExcel {
    width: 40px;
    height: 40px;
    background-position: -55px -12px;
    top: 14%;
    right: 17%;
    animation: 5s ease 0s infinite normal none running bounceMinus;
}


@keyframes bounceMinus {
    0% {
        transform: translate(0px, 0px);
    }

    50% {
        transform: translate(0px, -12px);
    }

    100% {
        transform: translate(0px, 0px);
    }
}


@keyframes bounceMinusX {
    0% {
        transform: translate(0px, 0px);
    }

    50% {
        transform: translate(-12px, 0px);
    }

    100% {
        transform: translate(0px, 0px);
    }
}


/* Progress section */

/* Progress bar section */

.progress-section {
    padding: 80px 0px;
}

.progress-section h2 {
    color: #fff;
}

.progress-bar {
    position: absolute;
    top: 0;
    left: 0;
    width: 3px;
    height: 0;
    background: linear-gradient(180deg, #60EFFF, #00FF87);
    transition: height 5s linear;
    display: none;
}

.accordion .accordion_intro p {
    /* display: none; */
    color: #fff;
}

.accordian-change {
    display: flex;
    gap: 30px;
    margin-top: 65px;
}

.accordian-change .accordion {
    margin-top: 50px;
}

.accordian-change .accordion:first-child {
    margin-top: 0;
}

.accordian-change .accordion_intro {
    position: relative;
    cursor: pointer;
    border-radius: 10px;
    padding: 0px 24px 0px;
}

.accordian-change .accordion_intro .reduceWidth {
    width: 76%;
}

.accordian-change .accordion_images {
    position: relative;
    width: 50%;
    border: 1.5px solid #ffddb23d;
    box-shadow: inset 0 0 55.5px #c5b9f626;
    border-radius: 18px;
    padding: 20px;
    overflow: hidden;
    backdrop-filter: blur(34px);
    background-color: #ffffff0a;
}

.accordian-change .accordion_images .star {
    background-image: url(/sites/zweb/images/analytics/star-embedded.png);
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: bottom;
}

.accordian-change .accordion_images::before {
    content: "";
    position: absolute;
    background-image: radial-gradient(#00dbff4d 0%, transparent 76%);
    width: 90%;
    height: 66%;
    top: -46%;
    left: 9%;
}

.accordian-change .accordion_images::after {
    content: "";
    position: absolute;
    background-image: radial-gradient(#00dbff4d 0%, transparent 76%);
    width: 90%;
    height: 66%;
    bottom: -51%;
    left: 9%;
}

.accordian-change .accordion_images img:nth-child(2) {
    top: 1%;
    left: 11%;
    width: 79%;
}

.accordian-change .accordion_images img:nth-child(3) {
    top: 9%;
    width: 93%;
    left: 3.5%;
}

.accordian-change .accordion_images img:nth-child(4) {
    top: 6.5%;
    left: 3.5%;
    width: 93%;
}

.accordian-change .Home_accordion_inner {
    width: 50%;
    margin: auto;
}

.accordian-change .accordion_images .accordion-image {
    position: absolute;
    opacity: 0;
}

.accordian-change .accordion_images .accordion-image.active {
    opacity: 1;
    animation: transX 0.8s;
}

.accordian-change .accordion_active .accordion_content {
    opacity: 1;
}

.accordian-change .accordion_content .accordion_image {
    display: none;
}

.accordian-change .accordion.accordion_active .accordion_intro p {
    display: block;
    animation: fadeIn 0.5s ease-in both;
}

/* separator */

.separator {
    text-align: center;
}

.separator .line {
    width: 164px;
    height: 21px;
    display: inline-block;
    background-image: url(/sites/zweb/images/analytics/free-visualization-sprite.png);
    transition: all 1s ease-in-out;
    background-size: 421px auto;
}

.separator .left-separator {
    background-position: -12px -5px;
    margin-right: 10px;
}

.separator .right-separator {
    background-position: -186px -5px;
    margin-right: 10px;
}


/* Key features */

.key-features {
    padding: 80px 0px;
    background-image: linear-gradient(1deg, #053643, #03242d);
}

.key-features .hd-description {
    width: 80%;
    margin: auto;
}

.key-features .main-wrapper {
    display: flex;
    column-gap: 24px;
    flex-wrap: wrap;
    row-gap: 30px;
    margin-top: 60px;
    justify-content: center;
}

.key-features .main-wrapper .item {
    width: 32%;
    text-align: center;
    padding: 12px;
    transform: translateY(50px);
    transition: all 1s ease-in-out;
}

.key-features .main-wrapper .keyfeatures {
    background-image: url(/sites/zweb/images/analytics/free-datavisualization-sprite-icon.png);
    background-size: 487px auto;
    width: 62px;
    height: 62px;
    display: inline-block;
    margin-bottom: 12px;
}

.key-features .main-wrapper .item h3 {
    font-size: 24px;
}

.key-features .main-wrapper .keyfeatures.easeIntegration {
    background-position: -85px 0px;
}


.key-features .main-wrapper .keyfeatures.automatic {
    background-position: -170px 0px;
}

.key-features .main-wrapper .keyfeatures.unlimited {
    background-position: 0px 0px;
}

.key-features .main-wrapper .keyfeatures.aiPowered {
    background-position: -255px 0px;
}

.key-features .main-wrapper .keyfeatures.easeCollaboration {
    background-position: -340px 0px;
}

.key-features .main-wrapper .keyfeatures.mobile {
    background-position: -425px 0px;
}

/* use-cases section */

.use-cases-section {
    padding: 80px 0px;
    background: #ffffff;
}

.use-cases-section .use-cases-wrapper {
    display: flex;
    column-gap: 24px;
    flex-wrap: wrap;
    row-gap: 30px;
    margin-top: 60px;
}

.use-cases-section .use-cases-wrapper .use-case-item {
    width: 32%;
    text-align: center;
    padding: 12px;
    transform: translateY(50px);
    transition: all 1s ease-in-out;
}


.use-cases-section .use-cases-wrapper .use-case-item h3,
.use-cases-section h2 {
    color: #000000;
}

.use-cases-section .use-cases-wrapper .use-case-item p {
    color: #000000;
    margin: 0;
}

.use-cases-section .use-cases-wrapper .use-case-item[data-onscroll] {
    transform: translateY(0);
}

/* wave separator */

.wave-separator {
    background-color: #fff;
    position: relative;
    line-height: 0;
}

.wave-separator img {
    margin-top: -2px;
}


.wave-separator.rotate img {
    transform: rotate(180deg);
    margin-bottom: -8px;
}

.wave-separator::before {
    content: '';
    position: absolute;
}

/* testimonials */

.testimonials-section .content-wrap a .arrow {
    border: solid #008EF5;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    margin-left: 10px;
    animation: translate 1s
}

.zwc-nav-scroll-section {
    overflow: hidden;
    position: relative;
    z-index: 2;
    margin-top: 60px
}

.zwc-nav-scroll-section>div:first-child {
    display: flex
}

@keyframes marquee {
    0% {
        transform: translateX(0)
    }

    100% {
        transform: translateX(-100%)
    }
}

.zwc-nav-box-wrap {
    display: flex;
    gap: 20px;
    animation: 45s linear 0s infinite normal none running marquee;
    padding-right: 20px;
    flex: 1
}

.zwc-nav-scroll-section>div:hover .zwc-nav-box-wrap {
    animation-play-state: paused
}

.zwc-nav-box {
    padding: 25px;
    min-width: 384px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 8px;
    flex: 1;
    border-width: 1px;
    border-style: solid
}

.zwc-nav-box:nth-child(1),
.zwc-nav-box:nth-child(5) {
    background-color: #fff7f0;
    border-color: #f5e5d7
}

.zwc-nav-box:nth-child(2),
.zwc-nav-box:nth-child(6) {
    background-color: #f6fdf4;
    border-color: #d4f0d4
}

.zwc-nav-box:nth-child(3),
.zwc-nav-box:nth-child(7) {
    background-color: #f3fafd;
    border-color: #dcedf5
}

.zwc-nav-box:nth-child(4),
.zwc-nav-box:nth-child(8) {
    background-color: #fffaec;
    border-color: #f2e9d0
}

.zwc-nav-box:nth-child(1) .descriptions-wrapper,
.zwc-nav-box:nth-child(5) .descriptions-wrapper {
    background-color: #f5e5d76e;
    border: 1px solid #f5e5d76e
}

.zwc-nav-box:nth-child(2) .descriptions-wrapper,
.zwc-nav-box:nth-child(6) .descriptions-wrapper {
    background-color: #d4f0d472;
    border: 1px solid #d4f0d472
}

.zwc-nav-box:nth-child(3) .descriptions-wrapper,
.zwc-nav-box:nth-child(7) .descriptions-wrapper {
    background-color: #dcedf56a;
    border: 1px solid #dcedf56a
}

.zwc-nav-box:nth-child(4) .descriptions-wrapper,
.zwc-nav-box:nth-child(8) .descriptions-wrapper {
    background-color: #f2e9d067;
    border: 1px solid #f2e9d067
}

.testimonials-section .content-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between
}

.testimonials-section {
    padding: 80px 0 80px;
    background-color: #fff;
}

.testimonials-section .content-wrap h2 {
    color: #000;
}

.testimonials-section .content-wrap a {
    color: #008EF5;
    font-size: 22px;
    font-family: var(--primaryfont-semibold);
    line-height: 35px;
    display: flex;
    align-items: center
}

.testimonials-section .profile-wrappper {
    display: flex;
    gap: 15px
}

.testimonials-section .profile-wrappper>div>img {
    width: 58px;
    height: 58px;
    object-fit: cover;
    border-radius: 50%;
    max-width: unset
}

.testimonials-section .profile-wrappper>div>h6 {
    font-size: 20px;
    margin: 0 0 8px;
    font-family: var(--primaryfont-semibold);
    color: #000;
}

.testimonials-section .profile-wrappper>div>.designation {
    font-size: 17px;
    font-family: var(--primaryfont-regular);
    color: #000;
}

.testimonials-section .descriptions-wrapper {
    padding: 30px 30px;
    margin-top: 50px
}

.testimonials-section .descriptions-wrapper p {
    font-size: 17px;
    color: #000;
}

.reported-section {
    background: #fff;
    padding: 80px 0px;
}

.read-more-link {
    display: block;
    max-width: max-content;
    position: relative;
    color: #fff;
    padding-right: 35px;
    text-decoration: underline;
}

.reported-section .report-slider {
    background-color: #262626;
    color: #fff;
    padding: 40px 50px;
    width: 55%;
    margin: 0;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.report-section .slick-dots {
    text-align: left;
    padding-top: 30px
}

.report-section .slick-dots li {
    background: #e0e0e0
}

.slick-dots li.slick-active:before {
    background: red !important;
}

@keyframes progresswidth {
    from {
        width: 0
    }

    to {
        width: 100%
    }
}

.slick-dots li {
    width: 20px;
    border-radius: 5px;
    background: #e0e0e0;
    height: 8px;
    border: 0;
    position: relative
}

.slick-dots li.slick-active {
    width: 35px;
    height: 8px;
    border: 0;
    background: #e0e0e0
}

.report-slider .slick-dots {
    text-align: left;
}

.slick-dots li.slick-active:before {
    animation: progresswidth 6s linear forwards;
    content: "";
    width: 40px;
    left: 0;
    position: absolute;
    background: #000;
    opacity: 1;
    height: 8px;
    border-radius: 5px
}

.report-slider .aem-report h5 {
    font-size: 35px;
    font-family: var(--primaryfont-semibold);
    line-height: 45px;
}

.report-slider .aem-report p {
    font-size: 17px;
    line-height: 27px;
    font-family: var(--primaryfont-regular);
}

.reported-section .content-wrap {
    display: flex;
    gap: 20px;
}

.reported-section .content-wrap .trust-section {
    width: 40%;
    height: 690px;
    overflow: auto;
    scrollbar-width: none;
}

.rating-sec {
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #ffffffb0;
}

.rating-table {
    margin: 0px auto 0;
    border: unset;
    padding: 8px 10px;
}

.rating-sec:nth-child(1),
.rating-sec:nth-child(2),
.rating-sec:nth-child(3),
.rating-sec:nth-child(4),
.rating-sec:nth-child(5),
.rating-sec:nth-child(6),
.rating-sec:nth-child(7),
.rating-sec:nth-child(8),
.rating-sec:nth-child(9) {
    border: unset;
    box-shadow: 1px 1px 11px 0px #174aa81c;
    margin-bottom: 10px;
    border-radius: 9px;
}

.rating-txt span {
    font-size: 24px;
}

.pre-banner-section {
    padding: 90px 0;
    text-align: center;
    background: #f8f9fc;
}

.pre-banner-section h2 {
    color: #000000;
}

.reported-section .content-wrap.animated .anim-star.svg-sprites.four_half1 {
    width: 90%;
}

.banner-gradient {
    background-image: linear-gradient(180deg, #053643, #03242D);
}

.pre-banner {
    padding: 80px 0px 80px;
    text-align: center;
    position: relative;
}

.pre-banner p {
    width: 80%;
    margin: 0 auto 30px;
}

.pre-banner span {
    display: block;
    font-size: 15px;
    margin-top: 10px;
}

/* FAQ */

.common-section.faq-section {
    padding-top: 0;
}

.faq-section .content-wrap {
    max-width: 940px;
}

.faq-section h2 {
    font-family: var(--primaryfont-bold);
    text-align: center;
}

.i18n-en .faq-section h2 {
    font-size: 32px;
}

.z-accordian {
    text-align: left;
    margin-top: 40px;
}

.z-accordianBox {
    border-bottom: 1px solid #c5b9f63b;
}

.z-accordianBox h4 {
    margin: 0;
    padding: 25px 0 25px 0;
    position: relative;
    cursor: pointer;
    font-size: 18px;
}

.z-accordianBox h4.active {
    color: #ffffff;
}

.z-accordianBox h4:before {
    content: "+";
    position: absolute;
    top: 0;
    right: 30px;
    bottom: 0;
    font-size: 18px;
    font-weight: 600;
    height: 25px;
    margin: auto;
}

.z-accordianBox h4.active:before {
    content: "-";
    right: 32px;
}

.z-accordianBox>ul {
    padding: 0 40px 25px 0;
    display: none;
}

.z-accordianBox>ul>li {
    position: relative;
}

.faq-section {
    padding: 80px 0px 80px;
    color: #fff;
}

.market-list li {
    list-style: disc;
    margin-top: 10px;
    margin-left: 15px;
}

.market-list li:last-child {
    margin-bottom: 20px;
}

.market-list li span {
    font-family: var(--zf-primary-semibold);
}

.whyDo-section .content-wrap.zwe-om,
.key-features .main-wrapper .item,
.use-cases-section[data-onscroll] .use-cases-wrapper .use-case-item {
    transform: translateY(0);
}

.key-features .main-wrapper .item:nth-child(2),
.use-cases-section .use-cases-wrapper .use-case-item:nth-child(2) {
    transition-delay: .2s;
}

.key-features .main-wrapper .item:nth-child(3),
.use-cases-section .use-cases-wrapper .use-case-item:nth-child(3) {
    transition-delay: .2s;
}

.key-features .main-wrapper .item:nth-child(4) {
    transition-delay: .2s;
}

.key-features .main-wrapper .item:nth-child(5) {
    transition-delay: .2s;
}

.key-features .main-wrapper .item:nth-child(6) {
    transition-delay: .2s;
}

.other-lang section.testimonials-section,
.other-lang .report-slider {
    display: none;
}

.other-lang .reported-section .content-wrap .trust-section {
    margin: 0 auto;
}



/* four columns section */

.four-columns-section {
    padding: 80px 0px;
    position: relative;
    padding-top: 160px;
    text-align: center;
}

.four-columns-section .content-wrap {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.four-columns-section .content-wrap .four-columns-wrapper {
    width: 49%;
    display: flex;
}

.four-columns-section .content-wrap .four-columns-wrapper .column {
    padding: 20px;
    border-radius: 10px;
    box-shadow: inset 0 0 55.5px #c5b9f626;
    background-color: #072d35;
}


.four-columns-section::after {
    content: '';
    position: absolute;
    background-image: url(/sites/zweb/images/analytics/free-visualization-sprite.png);
    width: 236px;
    height: 252px;
    background-position: 0px -33px;
    top: -127px;
    left: 42%;
    background-size: 421px auto;
}

.single-testimonials {
    background: #f8f9fc;
    color: #000000;
    padding: 90px 0px;
}

.single-testimonials .content-wrap {
    max-width: 1000px;
}

.single-testimonials h2 {
    color: #000000;
    text-align: left;
}

.single-testimonials p {
    color: #000000;
}

.single-testimonials .testimonial-content p {
    font-style: italic;
}

.single-testimonials .testimonial-content .name {
    display: block;
    font-family: var(--zf-primary-semibold);
}

.testimonial-counts {
    display: flex;
    gap: 20px;
    margin-top: 25px;
}

.testimonial-counts .count-item {
    flex: 1;
    padding: 19px;
    background-color: #fbf5ed;
    border-radius: 20px;
    border: 1px solid #fdecd6;
    border-bottom-width: 4px;
}

.testimonial-counts .count-number {
    display: block;
    font-size: 40px;
    font-family: var(--zf-primary-semibold);
}

@media (max-width:991px) {

    .explore-section .content-wrapper .left,
    .explore-section .content-wrapper .right,
    .scroll-image-wrapper {
        width: 100%
    }

    .scroll-images {
        display: none
    }

    .explore-section .scroll-image-wrapper {
        display: block
    }

    .explore-section .content-wrapper,
    .explore-section h2 {
        text-align: center
    }

    .explore-section .content-wrapper {
        flex-wrap: wrap
    }

    .sections {
        min-height: unset;
        filter: brightness(1);
        opacity: 1
    }

    .explore-section .scroll-image-wrapper {
        width: 80%;
        margin: auto
    }
}

@media only screen and (max-width:565px) {
    .explore-section {
        padding: 50px 0
    }

    .explore-section .scroll-image-wrapper {
        width: 100%
    }
}


@media (max-width: 1400px) {

    .banner::before,
    .banner::after {
        display: none;
    }

    .key-features .main-wrapper .item {
        width: 30%;
    }

    .use-cases-section .use-cases-wrapper .use-case-item {
        width: 30%;
    }
}

@media (max-width: 1080px) {
    .page-container h1 {
        font-size: 34px;
    }

    .hd-description {
        font-size: 17px;
        text-align: center;
    }

    .page-container h2 {
        font-size: 28px;
    }

    .page-container h3 {
        font-size: 23px;
    }
}

@media (max-width: 991px) {

    .accordian-change .accordion_images,
    .progress-bar {
        display: none;
    }

    .accordian-change .Home_accordion_inner,
    .accordian-change .accordion_intro .reduceWidth,
    .reported-section .report-slider,
    .reported-section .content-wrap .trust-section {
        width: 100%;
    }

    .accordian-change {
        height: unset;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .accordian-change .accordion {
        width: 45%;
        margin-top: 0;
    }

    .accordion .accordion_intro p {
        display: block;
    }

    .accordian-change .accordion_intro {
        text-align: center;
    }

    .key-features .main-wrapper .item {
        width: 47%;
    }

    .reported-section .content-wrap {
        flex-wrap: wrap;
    }

    .banner .banner-img img {
        width: 95%;
    }

    .four-columns-section .content-wrap .four-columns-wrapper {
        width: 40%;
    }

    .sections.fade-in {
        transform: scale(1);
    }

    .accordian-change .Home_accordion_inner {
        flex-wrap: wrap;
        display: flex;
        justify-content: center;
        gap: 24px;
    }
}

@media only screen and (max-width: 768px) {

    .whyDo-section .main-wrapper .left,
    .whyDo-section .main-wrapper .right {
        flex: auto;
    }

    .whyDo-section .main-wrapper,
    .testimonials-section .content-wrap {
        flex-wrap: wrap;
    }

    .whyDo-section h2,
    .whyDo-section .main-wrapper {
        text-align: center;
    }

    .whyDo-section::after {
        display: none;
    }

    .whyDo-section,
    .progress-section,
    .key-features,
    .testimonials-section {
        padding: 50px 0px;
    }

    .four-columns-section .content-wrap .four-columns-wrapper {
        width: 45%;
    }

    .testimonial-counts {
        flex-direction: column;
    }

    .accordian-change .accordion {
        width: 100%;
    }

    .accordian-change .Home_accordion_inner {
        gap: 24px;
    }

}

@media only screen and (max-width: 576px) {
    .page-container h1 {
        font-size: 27px;
    }

    .banner .hd-description {
        width: 100%;
    }

    .hd-description,
    .report-slider .aem-report p,
    .testimonials-section .descriptions-wrapper p,
    .za-cust-counts ul>li p {
        font-size: 15px;
    }

    .page-container h2,
    .i18n-en .faq-section h2 {
        font-size: 25px;
    }

    .page-container h3 {
        font-size: 20px;
    }


    .report-slider .aem-report h5 {
        font-size: 25px;
        line-height: 31px;
    }

    .za-cust-counts ul>li>span {
        font-size: 30px;
        line-height: 28px;
    }

    .accordian-change {
        margin-top: 40px;
    }

    .key-features .main-wrapper .item,
    .use-cases-section .use-cases-wrapper .use-case-item,
    .pre-banner p {
        width: 100%;
    }

    .za-brandsCounts {
        z-index: 0;
    }

    .testimonials-section .content-wrap a {
        font-size: 17px;
    }

    .za-cust-counts ul {
        max-width: 343px;
    }

    .four-columns-section::after {
        display: none;
    }

    .four-columns-section {
        padding-top: 80px;
    }

    .four-columns-section .content-wrap .four-columns-wrapper {
        width: 100%;
    }

    .whyDo-section .gradient-wrapper {
        padding: 0px;
    }
}

@media (max-width: 480px) {
    .other-lang .page-container h1 {
        font-size: 22px;
    }

    .other-lang .page-container h2,
    .i18n-en .faq-section h2 {
        font-size: 17px;
    }
}